In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import LabelEncoder
import numpy as np


df = pd.read_csv("C:\\projects\\Crop Price Prediction\\5_CROPS_1966-2016_ALL_STATES.csv")

encoder_s = LabelEncoder()
encoder_d = LabelEncoder()
encoder_c = LabelEncoder()
df['State Name'] = encoder_s.fit_transform(df['State Name'])
df['Dist Name'] = encoder_d.fit_transform(df['Dist Name'])
df['Crop Name'] = encoder_c.fit_transform(df['Crop Name'])


df.skew()

State Name                -0.345138
Dist Name                  0.002445
Year                       0.034882
Crop Name                  0.000000
Price (Rs. per Quintal)    2.787775
dtype: float64

In [2]:

df

       State Name  Dist Name  Year  Crop Name  Price (Rs. per Quintal)
0               3         92  1966          0               394.160479
1               3         92  1967          0               394.160479
2               3         92  1968          0               394.160479
3               3         92  1969          0               394.160479
4               3         92  1970          0               394.160479
...           ...        ...   ...        ...                      ...
90775           7        271  1985          5               188.350000
90776           7        271  1986          5               193.600000
90777           7        271  1987          5               186.600000
90778           7        271  1988          5               275.300000
90779           7        271  1989          5               250.500000

[90780 rows x 5 columns]

In [3]:
df['Price (Rs. per Quintal)'] = np.log(df['Price (Rs. per Quintal)'])

df.skew()

State Name                -0.345138
Dist Name                  0.002445
Year                       0.034882
Crop Name                  0.000000
Price (Rs. per Quintal)   -0.639469
dtype: float64

In [4]:
df['Price (Rs. per Quintal)'] = df['Price (Rs. per Quintal)'] ** 2
df.skew()

State Name                -0.345138
Dist Name                  0.002445
Year                       0.034882
Crop Name                  0.000000
Price (Rs. per Quintal)   -0.161501
dtype: float64

In [5]:
##using Random Forset
X = df.drop(columns = ['Price (Rs. per Quintal)'])
y = df['Price (Rs. per Quintal)']
#X = pd.get_dummies(x)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=50)

rf = RandomForestRegressor(n_estimators=350, random_state=50)
rf.fit(X_train, y_train)

y_pred = rf.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)


print(f"Mean Squared Error: {mse}")
print(f"R-squared: {r2}")

Mean Squared Error: 10.59396465980913
R-squared: 0.8386240400161356

In [6]:
from math import sqrt, exp

In [7]:
arr = np.array([[19, 6, 2012, 0]])
features = ['State Name', 'Dist Name', 'Year', 'Crop Name']

input = pd.DataFrame(arr, columns = features)
price = rf.predict(arr)
print(price)
print(exp(sqrt(price)))

[39.07843882]
518.6736997075454

C:\Users\HIMADRI CHATTERJEE\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(
C:\Users\HIMADRI CHATTERJEE\AppData\Local\Temp\ipykernel_9864\331847542.py:7: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  print(exp(sqrt(price)))

In [13]:
##using gradient boosting

from sklearn.ensemble import GradientBoostingRegressor

X = df.drop(columns = ['Price (Rs. per Quintal)'])
y = df['Price (Rs. per Quintal)']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

gbr = GradientBoostingRegressor(
    n_estimators=400,       
    learning_rate=0.1,      
    max_depth=3,            
    random_state=42         
)

gbr.fit(X_train, y_train)

y_pred = gbr.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse:.2f}")
print(f"Root Mean Squared Error: {rmse:.2f}")
print(f"R-squared: {r2}")

Mean Squared Error: 29.39
Root Mean Squared Error: 5.42
R-squared: 0.559239368826548

In [ ]:
##linear regression
from sklearn.linear_model import LinearRegression